# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
*.so

# Environments
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Models, data, and training outputs
output/
models/
data/

# Training logs
logs/
wandb/

# Evaluation outputs
recallm/evaluation/out/
recallm/evaluation/results/
recallm/evaluation/plots/

# internal submission scripts
recallm/evaluation/slurm_wrapper_high_mem.sh
recallm/evaluation/slurm_wrapper_low_mem.sh
recallm/evaluation/submit_all_slurm.sh
